*,
*::before,
*::after {
    box-sizing: border-box;
    outline: auto;
}


body {
    background-color: $gray-700;
}

    img {
        /* TODO: display block to get rid of bottom space for yg letters ?? */
        display: block;
        max-width: 100%;
        height: auto;
    }