.footer {
  &__grid {
    display: grid;
    gap: 16px;

    @mixin atMedium {
      grid-template-columns: 1fr 1fr;
    }

    @mixin atLarge {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__block {
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
    }

    a {
      display: block;
      padding: 8px 0px;
    }
  }
}
