.main {
  &__grider {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'sidebar'
      'articles'
      'widgets';

    @mixin atLarge {
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        'sidebar articles'
        'widgets widgets';
    }

    @mixin atXXLarge {
      grid-template-columns: 2fr 3fr 1fr;
      grid-template-areas: 'sidebar articles widgets';
    }
  }

  &__area {
    text-align: center;

    &--sidebar {
      grid-area: sidebar;
    }

    &--articles {
      grid-area: articles;
    }

    &--widgets {
      grid-area: widgets;
    }
  }
}
