.block{


&--red {
    border: 8px solid red;  
}

&--green {
    border: 8px solid green;
}

&--blue {
    border: 8px solid blue;
}

&--yellow{
    border: 8px solid yellow;
}
&--orange{
    border: 8px solid orange;
}



}