.flex-row{
    display: flex;
    gap: 2rem  1rem;
    flex-flow: column;    
    background-color: $gray-500;

    @mixin atMedium {
        flex-flow: row;
    }
 
&__col {
    background-color: $gray-400;

    &--8{
    flex: 8;
    }
}
}