.header {

    &__navbar {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 32px;

        @mixin atMedium {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }

        a {
            display: inline-block;
            background-color: #ddd;
            padding: 5px 0;
        }
    }

    &__nav-list{
        display: flex;
        flex-flow: column;
        list-style: none;
        column-gap: 32px;
        row-gap: 32px;

        @mixin atMedium {
            flex-flow: row wrap;
        }
    }

    &__btn-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 32px;
    }

    
}