.main-nav {
  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 12px;

    @mixin atLarge {
      padding: 0px;
      flex-flow: row wrap;
      column-gap: 16px;
      row-gap: 16px;
    }
  }

  li {
    margin-bottom: 16px;
    @mixin atLarge {
      margin-bottom: 0;
    }
  }

  a {
    color: white;
    display: block;
    font-weight: 300;
    padding: 12px 0 12px 12px;
    background-color: rgba(0, 0, 255, 0.507);

    @mixin atLarge {
      padding: 12px 0;
    }
  }
}
